In [1]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-1.2.5-cp37-cp37m-win_amd64.whl (9.1 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\pm3189\appdata\local\continuum\anaconda3\envs\carprediction\lib\site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
Collecting numpy>=1.16.5
  Downloading numpy-1.21.0-cp37-cp37m-win_amd64.whl (13.9 MB)
Requirement already satisfied: six>=1.5 in c:\users\pm3189\appdata\local\continuum\anaconda3\envs\carprediction\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.0 pandas-1.2.5 pytz-2021.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

In [4]:
car_df = pd.read_csv('car_data_new.csv')

In [5]:
car_df.head(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [6]:
car_df.shape

(4340, 8)